<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我去</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <style>

        img {
            width: 100%;
            height: 100%;
        }

        table {
            border-style: solid;
            border-collapse: collapse;
            width: 90%;
        }

        td {
            width: 16.66%;
            height: 100px;
            overflow: auto;
            text-overflow: ellipsis;
            border-style: solid;
            text-align: center;
            font-family: '微软雅黑', serif;
            font-weight: 400;
        }
    </style>
</head>
<body>
<table align="center">
    <thead>
    <tr>
        <td>姓名</td>
        <td>周一</td>
        <td>周二</td>
        <td>周三</td>
        <td>周四</td>
        <td>周五</td>
    </tr>
    </thead>
    <tbody id="users">
    <tr v-for="user in tongji(users)">
        <td>{{user.nick}}</td>
        <td v-for="i in user.days" v-on:click="clk">
            <img src="image/yes.jpg" v-if="i==1">
            <img src="image/warn.jpg" v-if="i==2">
        </td>
    </tr>
    </tbody>
</table>
</body>
<script>
    var SEAT_COUNT = 6
    var users = new Vue({
        el: '#users',
        data: {
            users: {}
        },
        methods: {
            tongji: function (a) {
                console.log('tongji')
                var day = new Array(5)
                for (var i = 0; i < day.length; i++) day[i] = 0
                for (var i in a) {
                    for (var j in a[i].days) {
                        if (a[i].days[j])
                            day[j]++
                    }
                }
                for (var i in a) {
                    for (var j in a[i].days) {
                        if (day[j] > SEAT_COUNT) {
                            if (a[i].days[j])
                                a[i].days[j] = 2
                        } else {
                            if (a[i].days[j]) a[i].days[j] = 1
                        }
                    }
                }
                console.log(a)
                return a
            },
            clk: function (event) {
                console.log('clk')
                var target = $(event.target)
                if (target.is('td') == false) target = target.parents('td')
                var ind = target.index()
                var come = target.children().length == 0 ? 1 : 0
                ws.send(JSON.stringify({
                    event: 'click',
                    day: ind,
                    openid: navigator.userAgent,
                    come: come
                }))
                event.preventDefault()
            }
        }
    })
    $(document).ready(function () {
        $.getJSON('state', function (data) {
            users.users = data
        })
        checkNet()
    })

    var ws = null

    function checkNet() {
        var s = location.href
        s = s.substring(s.indexOf("//"), s.lastIndexOf("/"))
        ws = new WebSocket("ws:" + s + "/chat")
        ws.onmessage = function (msg) {
            console.log(msg)
            users.users = JSON.parse(msg.data)
            console.log('receive message')
        }
        ws.onopen = function (msg) {
            console.log(msg)
            console.log('welcome,websocket opened')
            ws.send(JSON.stringify({
                event: 'register',
                openid: navigator.userAgent,
                nick: navigator.userAgent
            }))
        }
        ws.onerror = function (msg) {
            console.log(msg)
            console.log('bad ! websocket error')
            window.setTimeout(checkNet, 5000)
        }
        ws.onclose = function (msg) {
            console.log(msg)
            console.log('closed')
            window.setTimeout(checkNet, 5000)
        }
    }
</script>
</html>